<div id="tabs">
	<ul class="nav nav-tabs">
	{{#each days}}
		<li><a href="#tabs-{{day_number}}">{{day_of_week day_number}}</a></li>
	{{/each}}
	</ul>
	{{#each days}}
		<div id="tabs-{{day_number}}" class="day_body clearfix">
				<h2>{{day_of_week day_number}}</h2>
				{{#each categories}}
				<h3>{{title}}</h3>
				<div class="row">
					{{#each dishes}}
						<div class="well dish_body col-sm-6 clearfix">
	  					<input type="checkbox" id="checkbox{{id}}">
							<p class="pull-right"><b>{{price}} UAH</b></p>
							<span><b>{{title}}</b></span>
							<p><b>{{description}}</b></p>
							<span>quantities</span>
							<input type="number" id="checkbox{{id}}-inp" min="0" disabled name="{{../../id}}[dishes][{{id}}]" value="0">
						</div>
					{{/each}}
				</div>
				{{/each}}
	  </div>
	{{/each}}
</div>
