<h2 class="text-center">Your order for sprint #{{sprint.id}}</h2>
{{#each day}}
	<div class='col-sm-3 well'>
		<div class="ordered_dish">
		<h2>{{day_of_week day_number}}</h2>
		{{#each order_item}}
		{{! description and price are available}}
			<div class="title_in_order">{{title}}<span class="pull-right">{{quantity}}</span></div>
			{{#each children}}
			<div class="children">
				<div>{{title}}</div>
			</div>
			{{/each}}
		{{/each}}
		</div>
	</div>
{{/each}}
