{{#each dishes}}
	<div class="well dish_body col-sm-6 clearfix" data-dish-id="{{id}}">
		<input type="checkbox">
		<p class="pull-right"><span class="price">{{price}}</span> UAH</p>
		<span class="dish_title">{{title}}</span>
		<p><b>{{description}}</b></p>
		<span>quantities</span>
		<input type="number" class="form-control quantity" disabled
	              name="days[{{../day_id}}][dishes][{{id}}]" value="1" min="0">
	</div>
{{/each}}
