<div id="user_panel"></div>
	<div class="sprint_body well clearfix">
		<p class="state pull-right {{sprint.state}}">
	  	{{sprint.state}}
	  </p>
		<p>{{sprint.title}}</p>
	  <p>Start {{sprint.started_at}}</p>
	  <p>End {{sprint.started_at}}</p>
  </div>
