<div id="user_panel"></div>
{{#each sprints}}
	<div class="sprint_body well clearfix">
		<p class="state pull-right {{state}}">
	  	{{state}}
	  </p>
		<a  href="#sprints/{{id}}">{{title}}</a>
	  <p>Start {{started_at}}</p>
	  <p>End {{started_at}}</p>
  </div>
{{/each}}
